* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #413543;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
}

.hero-container {
  margin-top: 4rem;
  text-align: center;
  align-items: center;
  margin-left: 25%;
  padding: 2rem;
  width: 700px;
  font-size: 18px;
}

.hero-logo {
  width: 500px;
  height: 300px;
}

.form2 {
  background-color: #2C3333;
  text-align: center;
  padding: 3rem 3rem;
  width: 420px;
  height: 410px;
  border-radius: 6%;
  margin-left: 35%;
  margin-top: 2rem;
}

.text-form {
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-size: 20px;
}

.input {
  background-color: #CBE4DE;
  margin-top: 0;
  border: none;
  border-radius: 1rem;
  text-align: center;
  color: #2C3333;
  font-size: 18px;
  width: 320px;
  height: 28px;
}

.btn-form {
  margin-top: 1.5rem;
  background-color: #2E4F4F;
  color: #CBE4DE;
  border-radius: 1rem;
  border: none;
  width: 200px;
  height: 50px;
  font-size: 20px;
}

.btn-form:hover {
  cursor: pointer;
  background-color: #CBE4DE;
  color: #2C3333;
  border: #2E4F4F 0.5px;
  transition: background-color 0.5s ease;
}